@import 'tailwindcss';

@utility container {
  margin: auto;
  @media (width >= 75rem) {
    max-width: 75rem;
  }
}

@theme {
  /* --color-maincolor: #c0c0c0; */
  --color-maincolor: #121212;
  /* --color-mutedgold: #f5f5f0; */
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1) !important;
}
